<h1><%= @channel.name %></h1>

 <p><%= @channel.callsign %></p>

 <p>Price per month: $<%= @channel.price_per_month %></p>

 <p>Total subscribers: <%= @channel.subscribers.count %></p>


<% if !current_user.channels.include?(@channel) %>

 <form action='/subscriptions' method='POST'>
   <input type='hidden' name="channel_id" value= "<%= @channel.id %>">
   <input type='submit' value='subscribe'>
 </form>

<% elsif current_user.channels.include?(@channel) %>
 <form action='/subscriptions' method='POST'>
   <input type='hidden' name="_method" value= "DELETE">
   <input type='hidden' name="channel_id" value= "<%= @channel.id %>">
   <input type='submit' value='unsubscribe'>
 </form>

<% end %>
