<h1><%= "#{@musician.first_name}'s Page" %></h1>

<ul>
    <li>
    <label>city: </label><%= @musician.city %>
    </li>
    <li>
    <label>state: </label><%= @musician.state %>
    </li>
    <li>
    <label>country: </label><%= @musician.country %>
    </li>
    <li>
    <label>years experience: </label><%= @musician.years_experience %>
    </li>
</ul>

<h3>Instruments played:</h3>
<ul>
  <% @musician.instruments_played.each do |instrument| %>
    <li><%= instrument.name %></li>
  <% end %>
</ul>

<p>Add your instruments below:</p>
<form action="/musicianships" method="POST">
  <select type="text" name="instrument_id">
    <% @instruments.each do |instrument| %>
      <option value="<%= instrument.id %>"> <%= instrument.name %> </option>
    <% end  %>
  <input type="submit" value="Add Instrument">
</form><br>


<div id="map_canvas" style="width: 500px; height: 600px;"></div>
